.dashbard{
	
}

.trello_graficos{
	width: 40%;
	float: left;
}

.trello_lista{
	width: 60%;
	float: left;
}

.trello_quadro{
   
}
.formato_quadros{
	 float: left;
}
.formato_prioridades{
	
}

.trello_check_complete{
	clear: both;
	width: 100%;
	height: 30px;
}

.trello_check_incomplete{
	clear: both;
	width: 100%;
	height: 30px
}

.trello_check_none{
	clear: both;
	width: 100%;
	height: 30px;
}

.trello_check_incomplete span{
	float: left;
	margin-left: 2px;
	min-height: 12px;
	width: 90%;
}
.trello_check_complete span{
	text-decoration:line-through;
	float: left;
	margin-left: 2px;
	min-height: 12px;
	width: 90%;
}

.trello_check_none span{
	text-decoration:line-through;
	float: left;
	margin-left: 2px;
	min-height: 12px;
	width: 90%;
}

.trello_check_complete div {
	background-image: url('../icon/check.png');
	background-size: 12px;
	width: 12px;
	height: 12px;
	float: left;
}

.trello_check_incomplete div {
	background-image: url('../icon/nocheck.png');
	background-size: 12px;
	width: 12px;
	height: 12px;
	float: left;
}

.trello_check_none div {
	background-image: url('../icon/none.png');
	background-size: 12px;
	width: 12px;
	height: 12px;
	float: left;
}

.formato_cartoes .trello_cartoes{
	border: 1px solid #ddd;
	width: 45%;
	float: left;
	margin-left: 3%;
	height: 200px;
	margin-top: 10px;
	border-radius: 20px 0px 0px 0px;
}

.formato_prioridades  .trello_cartoes{
	border: 1px solid #ddd;
	width: 100%;
	float: left;
	margin-left: 3%;
	margin-top: 10px;
	border-radius: 20px 0px 0px 0px;
}

.formato_prioridades .trello_cartoes{
	width: 90% !important;
}

.cartao_title {
    background: antiquewhite;
    height: 16px;
    border-bottom: 1px solid #ddd;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	border-radius: 20px 0px 0px 0px;
}

.formato_cartoes .cartao_content{
	overflow: auto;
	max-height: 182px;
}

.formato_prioridades  .cartao_content{

}

 .trello_checklist {
    border-bottom: 1px solid #ddd;
	margin: 5px;
	background: antiquewhite;
	border-radius: 3px;
	padding-bottom: 5px;
	font-size: 12px;
}

.trello_checklist_title{
	font-weight: bold;
	font-size: 8.5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;	
	text-align: center;
}


.abas {
	width: 100%;
	clear: both;
	background-color: aliceblue;
}

.abas a{
	font-size: 14px;
}

.abas ul {
    border-bottom: 1px solid #ddd;
    height: 60px;
	margin: 0px;
}

.abas ul li{
	float: left;
	margin: 0px;
	list-style: none;
	height: 30px;
	padding: 15px;
}

.abas .active {
    color: #555;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
	background: #fff;
	border-radius: 5px 5px 0px 0px;
}

.content{
	clear: both;
	background-color: #ddd;
	position: relative;
	top: 80px;
}

.trello_lista_formatos{
	width: 100%;
	text-align: right;
}